<h1>RETOS DE PROGRAMACION DE BRAIS MOURE</h1>
<p>Para ver la pagina original, creada por Brais Moure haz click <a href="https://retosdeprogramacion.com/">aqui</a></p>

<div>
  Navega a los retos resueltos por ahora:
  <div class="collapsible-wrapper">
    <input id="collapsible-2023" class="toggle" type="checkbox" checked>
    <label id="collapsible-2023-label" for="collapsible-2023" class="label-toggle">2023</label>
    <div id="collapsible-2023-content" class="collapsible-content">
      <div id="collapsible-2023-content-inner" class="collapsible-content-inner">
        <ul>
          <li>Reto #33: Tetris</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
